html, body, #map {
    width: 100%; 
    height: 100%; 
    padding: 0; 
    margin: 0;
    //filter: invert(1) hue-rotate(-90deg);
}

[class*="balloon__content"] {
    background: red;
}
[class*="balloon__tail"] {
    background: red;
    background-color: red;
}
